#nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
    font-family: Helvetica;
    background-color: #272D33;
    color: white;
    font-size: 32px;
    padding: 5px;
}

.items:hover {
    background-color: gray;
    opacity: 0.5;
}

body {
    background-color: lightgray;
}

a {
    text-decoration: none;
    text-align: center;
    width: 20%;
    color: white;
}

.resume {
    display: flex;
    justify-content: flex-start;
    color: black;
    font-family: Helvetica;
}